{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>随机密码生成器</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" sizes="64x64" href="/static/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <div class="content">
        <h4>随机密码生成器</h4>
        <div style="text-align:center;vertical-align:middle;">
            <input type="text" id="text_password" class="text_password" value="{{ password_code }}">
            <input type="button" name="copy_btn" id="copy" value="复制密码">
        </div>
        <div class="container">
            <div class="button1">
                <input type="button" name="pwd_btn" id="pwd_btn_simple" value="生成简单密码">
            </div>
            <div class="button2">
                <input type="button" name="pwd_btn" id="pwd_btn_complex" value="生成复杂密码">
            </div>
        </div>
    </div>
    <script>
        $('#pwd_btn_simple').click(function () {
            $.ajax({
                url: 'get_simple_pwd',
                type: 'get',
                success: function (data) {
                    console.log(data.password)
                    $('#text_password').val(data.password)
                }
            })
        })
        $('#pwd_btn_complex').click(function () {
            $.ajax({
                url: 'get_complex_pwd',
                type: 'get',
                success: function (data) {
                    console.log(data.password)
                    $('#text_password').val(data.password)
                }
            })
        })
        $("#copy").click(function () {
            var text = $("#text_password");
            text.select();
            document.execCommand("copy");
            // alert("复制成功。")
         });
    </script>
</body>